<%- include ('../../partials/header')%>
<body>

    <div class="container mt-5">
        <div class="col d-flex justify-content-center">
            <div class="card" style="width: 30rem;">
                <div class="card-header">
                    <h3>Login Administrador</h3>
                </div>
                <div class="card-body">
                    <form action="/authenticate" method="post">
                        <br>
                        <label>E-mail</label>
                        <input type="email" name="email" placeholder="email@example.com" class="form-control mt-1">
                        <br>
                        <label>Senha</label>
                        <input type="password" name="password" placeholder="Senha" class="form-control mt-1">
                        <br>
                        <button type="submit" class="btn btn-success" style="width: 100%;">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>
<%- include ('../../partials/footer')%>